
/*
blue : #05386B;
dark green: #379683;
green: #5CDB95;
green-light: #8EE4AF;
white: #EDF5E1;
*/

body{
  background-color: #5CDB95;
}
/* Room List */
.aside-menu{
  height: 100%;
   width: 25%;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #05386B;
   overflow-x: hidden;
   padding-top: 30px;
   color: #EDF5E1;

}

.aside-menu ul{
  list-style-type: none;
}

.aside-menu ul li{
  width: 100%;
  font-size: 20px;
  float:left;
  padding: 10px;
}

.aside-title{
  color: #8EE4AF;
  font-size: 40px;
}

.room-list ul {
  text-decoration: none;
}

/* Content */

.content{
  width:75%;
  color: #EDF5E1;
  position: fixed;
  top:0;
  right:0;
  margin-right: 5px;
}

/* Messages */

.message-list{
  overflow:auto;
}
.message-item{
  background-color:#EDF5E1;
  color: #05386B;
  padding: 10px;
    border-bottom: 1px solid #379683;
}

.activeRoom-title{

  text-align: center;
}

ul.message-list{
  list-style: none;
  margin-left:0;

}

.msg-username{
  font-weight: bold;
  display:block;
}

.msg-content{
  width: 70%;
  display: inline-block;
  font-size: 14px;
}

.msg-time{
  width: 15%;
  display: inline-block;
  font-size:10px;
  position:relative;
  right: -100px;
  bottom: 0;
}

.user{
  margin-top:30%;
  margin-left: 5px;
}

.google{
  font-family: 'Roboto', sans-serif;
  background-color: #4285F4;
  color: #fff;
  font-size: 14px;
  border: 1px solid #4285F4;
  padding: 8px 18px;
  display: block;
  margin-top: 5px;
  border-radius: 2px;
}

/* New Message */
.new-message{
  width:73%;
  position: fixed;
  bottom:0;
  right:0;
  padding: 10px;
}

.input-message{
  width:70%;
  position:relative;
  float: left;
  margin-left:0;
  padding:11px;
  font-size: 14px;
  border: 1px solid #8EE4AF;
}

.btn-message{
  background-color: #05386B;
  border: 1px solid #05386B;
  color: #EDF5E1;
  padding: 11px 20px;
  font-size: 14px;
}
